**/bin/*
**/Test/*
**/Misc/*
**/Extract/*
**/Logs/*
**/Release/*
**/DOSBox/
Ultimate Duke 3D Editor.ini
Ultimate Duke 3D Editor.cfg
Plugins/GRP Plugin/GRP.jar
Plugins/SSI Plugin/SSI.jar
Plugins/ACT Plugin/ACT.jar
Plugins/DAT Plugin/DAT.jar
Plugins/Image Plugin/Image.jar
Plugins/PAL Plugin/PAL.jar
Plugin Library/Plugin Library.jar
*.GRP
*.SSI
*.ZIP
*.BAT
*.EXE
*.COM
*.WAV
*.VOC
*.ART
*.MAP
*.DAT
*.DMO
XGroup.*
VOC2WAV5.TXT
WAV2VOC2.TXT
stderr.txt
stdout.txt
\!Duke Nukem 3D Group Manager.txt
\!Duke Nukem 3D Palette Editor.txt
